* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;

}

.header {
    background-color: #e6f0ff;
    margin: 0px;
}

.main-heading {
    font-weight: 800;
    font-size: 22px;
    width: 250px;
    height: 50px;
    float: left;
    color: #000;
    padding: 30px 0 0 10px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px 20px 0 0;
}

.contact-iteam {
    list-style: none;
    margin: 0 0 0 20px;
}

.contact-iteam>p {
    margin: 5px 0 5px 0;
}

.contact-iteam>p>a {

    text-decoration: none;
    color: #000;
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #6666ff;
    justify-content: left;
    padding: 20px;
    font-size: 18px;
    margin: 0;

}

.navitem {
    margin: 0 20px 0 20px;
}

.navlink {
    text-decoration: none;
    color: #fff;
    padding: 5px;

}



.navlink:hover {
    background-color: #fff;
    color: #000000;
}

.main-photo {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(img/developers3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.main-photo>h1 {
    color: #fff;
    font-size: 40px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    margin: 100px 0 100px 0;
}

.service-content-all {
    margin-left: 20px;
    width: 250px;
    height: fit-content;
    float: right;
}

.service-image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}


.service-head {
    font-weight: 500;
    text-align: left;
}

.service-content {
    color: #b3b3b3;
    text-align: start;
}

.values {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #f2f2f2;
}

.value-sec-1 {
    width: 50%;
    height: 400px;
    float: left;
    text-align: left;
    padding: 50px;
}

.value-sec-1>p {
    width: 500px;
    height: 200pxt;
}

.value-sec-2 {
    width: 50%;
    height: 400px;
    float: left;
}

.value-collapse-image {
    width: 100%;
    height: 400px;
}

.btn {

    border: #6666ff;
}

.team-members {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.team-member {
    margin: 0 20px 0 0;
}

.member-photo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.team-member>p {
    color: #b3b3b3;
}

.team-details>p {
    color: #b3b3b3;
    font-size: 20px;
}

.team-details>p>span {
    font-size: 15px;
}

.team-details>button {
    background-color: #282828;
    width: 200px;
    height: 50px;
    color: #fff;
    border: none;

}




.footer-dark {
    padding: 20px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}










.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}



.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.company-name>h5 {
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
}